/* Búsquedas */

#about {
    background-color: #f4f4f4;
    padding: 80px 0px;
}

#about .section-heading {
    margin-bottom: 40px;
}

.country-item {
    cursor: pointer;
    background-color: #fff;
    text-align: center;
    transition: all 0.7s;
    box-shadow: 0px 0px 15px #cdcdcd;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    margin-bottom: 20px;
}

.country-item:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}

.uruguay-img {
    background-image: url(../img/uruguay.png);
    background-size: 200px 85px !important;
}

.brasil-img {
    background-image: url(../img/brasil.png);
    background-size: 200px 85px !important;
}

.paraguay-img {
    background-image: url(../img/paraguay.jpg);
    background-size: 200px 85px !important;
}

.bolivia-img {
    background-image: url(../img/bolivia.png);
    background-size: 200px 85px !important;
}

.argentina-img {
    background-image: url(../img/argentina.png);
    background-size: 200px 85px !important;
}

.eu-img {
    background-image: url(../img/eu.png);
    background-size: 200px 90px !important;
}

.country {
    color: transparent;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item {
    cursor: pointer;
    background-color: #fff;
    text-align: center;
    padding: 30px 20px;
    transition: all 0.7s;
    box-shadow: 0px 0px 15px #cdcdcd;
    margin-top: 20px;
    margin-bottom: 30px;
}

.service-item:hover {
    background-color: #7fc1ec;
}

.service-item h4 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.service-item:hover h4 {
    color: #fff;
}

.service-item:hover p {
    color: #fff;
}